.features {
	&__intro {
		max-width: 500px;
		margin: 0 auto;
	}
	@include text;
	&__list {
		list-style-type: none;
		margin: 2em auto;
		padding: 0;
		max-width: 600px;
		@include desktop {
			display: flex;
		}
		li {
			@include listElem;
			position: relative;
			cursor: pointer;
			@include desktop {
				border-top: none;
				border-bottom: 0.5px solid $neutral1;
			}
			div {
				background-color: $primary2;
				height: 5px;
				width: 30%;
				z-index: 10;
				position: absolute;
				left: 35%;
				bottom: 0em;
				display: none;
				@include desktop {
					width: 100%;
					left: 0;
				}
			}
			&:first-of-type div {
				display: block;
			}
		}
	}
	&__articles {
		display: none;
		margin-bottom: 5em;
		&:first-of-type {
			display: block;
		}
		&__wrapper {
			@include desktop {
				display: flex;
				
			}
		}
		&__portrait {
			@include desktop {
				width: 100%;
			}
			position: relative;
			max-width: 500px;
			margin: 0 auto;
			&__images {
				width: 80%;
				margin-bottom: 3em;
				margin-left: 1em;
				max-width: 350px;
				@include desktop {
					max-width: 600px;
				}
			}
			&__shape {
				@include shape;
				left: -10px;
				top: 2.3em;
				border-radius: 0 0 50% 0;
				width: 70%;
				@include desktop {
					left: -8em;
					width: 100%;
					max-width: 500px;
					height: 280px;
				}
			}
		}
		&__text {
			@include desktop {
				width: 40%;
				text-align: left;
				margin-top: 2em;
				p {
					width: 80%;
				}
			}
			&__button {
				@extend .hero__article__buttons__chrome;
			}
		}
	}
}
