.footer {
	margin-top: 1em;
	
	&__top {
		background-color: $primary1;
		color: white;
		@include text;
		@include desktop{
			padding: 2em 0;	
		}	
		&__form{
			@include desktop{
				display: flex;
				justify-content: center;
			}
		}
		&__email {
			@include contact;
			border: none;
			@include desktop{
				width: 25%;
				margin-right: 1em;	
			}
		}
		&__error {
			background-color: $primary2;
			width: 80%;
			max-width: 478px;
			margin: 0 auto;
			border-radius: 1em;
			height: 1em;
			z-index: -1;
			margin-top: -1.8em;
			text-align: left;
			padding: 1.5em 1em 0.7em;
			font-size: 0.7em;
			margin-bottom: 0.8em;
			display: none;
		}
		&__button {
			@extend .hero__article__buttons__chrome;
			background-color: $primary2;
			@include contact;
			@include desktop{
				width: 10%;	
			}
			&:hover{
				color: $primary2;
				background-color: white;
				border: 1px solid $primary2;
			}
		}
	}
	&__nav {
		@include desktop{
			display: flex;
			align-items: center;
			justify-content: space-evenly;	
			padding: 0;	
		}
		&__logo {
			background-color: white;
			padding: 1em;
		}
		@include text;
		background-color: $neutral2;
		&__list {
			list-style-type: none;
			padding: 0;
			@include desktop{
				display: flex;
				margin-right: 20em;	
			}
			li {
				margin: 1.5em;
				a {
					text-decoration: none;
					color: white;
					&:hover{
						color: $primary2;
					}
				}
			}
		}
		&__social {
			padding: 1em;
			&__image {
				padding: 0.5em;
			}
		}
	}
}
