@import 'variables';

.nav {
	background-color: $neutral2;
	text-align: center;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	opacity: 0.95;
	transform: translateY(-100%);
	transition: all 0.2s ease-in-out;
	&__burger {
		height: 1em;
		margin-top: 0.2em;
		cursor: pointer;
		@include desktop {
			display: none;
		}
	}
	&__close {
		height: 1em;
		cursor: pointer;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		padding: 2em 3em;
		@include desktop{
			align-items: center;		
		}
		&__list-desktop{
			display: none;
			list-style: none;
			li{
				margin: 0 1.2em;
			}
				a{
					text-decoration: none;
					color: $neutral2;
					transition: all 0.2s ease-in-out;
					&:hover{
						color: $primary2;
					}
				}

				.login{
					color: white;
					background-color: $primary2;
					padding: 0.5em 1em;
					border-radius: 0.5em;
					border: 1px solid $primary2;
					transition: all 0.2s ease-in-out;
					&:hover{
						color: $primary2;
						background-color: white;
						
					}
				}
			@include desktop{
				display: flex;
			}
		}
	}
	&__logo {
		background-color: white;
		@include desktop{
			height: 1.5em;		
		}
	}

	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			border-top: 0.5px solid $neutral1;
			padding: 1.1em;
			width: 60%;
			margin: 0 auto;
		}
		a {
			text-decoration: none;
			color: white;
			letter-spacing: 0.15em;
			&:hover {
				border: 1px solid white;
				border-radius: 4px;
				padding: 0.5em 5em;
			}
		}
	}
	&__social {
		margin-top: 9em;

		img {
			padding: 0.9em;
		}
	}
}

.nav-active {
	transform: translateY(0%);
}
