@import 'variables';

.nav {
	background-color: $neutral2;
	text-align: center;
	height: 100vh;
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	transform: translateY(-100%);
	transition: all 0.2s ease-in-out;
	&__burger {
		height: 1em;
		margin-top: 0.2em;
	}
	&__menu {
		display: flex;
		justify-content: space-between;
		padding: 2em 3em;
	}
	&__logo {
		background-color: white;
	}
	&__burger {
		background-color: white;
	}
	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			border-top: 0.5px solid $neutral1;
			padding: 1.1em;
			width: 60%;
			margin: 0 auto;
		}
		a {
			text-decoration: none;
			color: white;
			letter-spacing: 0.15em;
			&:hover {
				border: 1px solid white;
				border-radius: 4px;
				padding: 0.5em 5em;
			}
		}
	}
	&__social {
		margin-top: 9em;

		img {
			padding: 0.9em;
		}
	}
}

.nav-active {
	transform: translateY(0%);
}
