@import 'variables';

.hero__portrait{
    width: 100%;
    height: 60vh;
    position: relative;
    &__shape{
        width: 85%;
        height: 45vh;
        background-color: $primary1;
        position: absolute;
        right: 0;
        top: 2.5em;
        border-radius: 45% 0 0 45%;
        z-index: -1;
    }
    &__image{
        width: 90%;
    }
}
