.questions {
	@include text;
	&__menu {
		list-style-type: none;
		margin: 2em auto;
		padding: 0;
		text-align: left;
		max-width: 600px;
		li {
			@include listElem;
			color: black;
			.accordion{
				display: flex;
				justify-content: space-between;
				cursor: pointer;
			}
			img{
				height: 0.9em;
			}
			p{
				display: none;
			}
		}
	}
	&__button {
		@extend .hero__article__buttons__chrome;
	}
}

.text-show{
	display: block;
}
