.questions {
	@include text;
	&__intro {
		max-width: 500px;
		margin: 0 auto;
	}
	&__menu {
		list-style-type: none;
		margin: 2em auto;
		padding: 0;
		text-align: left;
		max-width: 600px;
		li {
			@include listElem;
			color: black;
			.accordion {
				display: flex;
				justify-content: space-between;
				cursor: pointer;
				
				&:hover {
					color: $primary2;
				}
			}
			img {
				height: 0.9em;
			}
			p {
				display: none;
			}
		}
	}
	&__button {
		@extend .hero__article__buttons__chrome;
	}
}

.text-show {
	display: block;
}

.rotate {
	transform: rotate(180deg);
	transition: all 0.1s ease-in;
}
