@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

$primary1:hsl(231, 69%, 60%);
$primary2: hsl(0, 94%, 66%);
$neutral1:hsl(229, 8%, 60%);
$neutral2:hsl(229, 31%, 21%);

body{
    padding:0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}